@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 36 45% 98%;
    --foreground: 26 24% 11%;
    --card: 0 0% 100%;
    --card-foreground: 26 24% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 26 24% 11%;
    --primary: 19 70% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33 41% 95%;
    --secondary-foreground: 25 15% 25%;
    --muted: 33 41% 95%;
    --muted-foreground: 26 10% 49%;
    --accent: 26 100% 96%;
    --accent-foreground: 18 84% 32%;
    --destructive: 11 76% 43%;
    --destructive-foreground: 0 0% 100%;
    --border: 34 28% 89%;
    --input: 34 28% 89%;
    --ring: 19 70% 51%;
    --chart-1: 23 100% 50%;
    --chart-2: 19 70% 51%;
    --chart-3: 18 85% 38%;
    --chart-4: 32 75% 45%;
    --chart-5: 150 64% 29%;
    --radius: 1.25rem}
  .dark {
    --background: 24 22% 9%;
    --foreground: 33 41% 95%;
    --card: 26 24% 11%;
    --card-foreground: 33 41% 95%;
    --popover: 26 24% 11%;
    --popover-foreground: 33 41% 95%;
    --primary: 24 86% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 18% 19%;
    --secondary-foreground: 33 41% 95%;
    --muted: 27 18% 19%;
    --muted-foreground: 33 20% 81%;
    --accent: 18 85% 26%;
    --accent-foreground: 24 100% 91%;
    --destructive: 11 76% 31%;
    --destructive-foreground: 33 41% 95%;
    --border: 25 15% 25%;
    --input: 25 15% 25%;
    --ring: 24 86% 52%;
    --chart-1: 24 86% 52%;
    --chart-2: 19 70% 51%;
    --chart-3: 18 85% 38%;
    --chart-4: 32 75% 45%;
    --chart-5: 150 64% 29%}
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient-shift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
